/*===== Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Quattrocento:wght@400;700&family=Work+Sans:ital,wght@0,400;0,500;1,300&display=swap');

/*===== CSS Reset =====*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
li {
    text-decoration: none;
}

/*===== Navbar Start=====*/

.nav-link {
    text-transform: uppercase;
    margin: 0 1.5em;
    font-weight: 600;
}

.navbar-brand {
    text-transform: uppercase;
    background: linear-gradient(45deg, #ff0000, #caca00d3, #ff00f3, #0033ff, #ff00c4);
    background-size: 400%;
    font-size: 1.4em;
    letter-spacing: 4px;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}

/*===== Animate logo =====*/
@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

/*===== Navbar End=====*/

/*===== About Section Start=====*/
.lead a {
    color: #4b14ca;
    font-weight: 600;
}

/*===== About Section End=====*/


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quattrocento', sans-serif;
}

.navbar {
    background-color: cadetblue;
}

.myNav, .footer-sectiom {
    font-family: 'Quattrocento', sans-serif;
    background-color: cadetblue;

}

.myNavBtns:hover {
    transition-duration: 2s !important;
    transition-delay: 0.2s !important;
    text-decoration: underline;
}

.myNavBtns:active {
    background-color: black !important;
    color: white !important;
    padding: 12px 32px !important;
    transition-duration: 2s !important;
    transition-delay: 0.2s !important;
    border-radius: 12px !important;
}

a:active {
    color: black !important;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/*===== About Section End=====*/

.bg-pride {
    background: linear-gradient(90deg, #f00000, #f00000 16.67%, #ff8000 16.67%, #ff8000 33.33%, #ffff00 33.33%, #ffff00 50%, #007940 50%, #007940 66.67%, #4040ff 66.67%, #4040ff 83.33%, #a000c0 83.33%, #a000c0) fixed;
}

.hr-pride {
    height: 20px;
    width: 100%;
} */

.hero-pride {
    background: linear-gradient(90deg, rgba(255, 0, 0, .8) 0%, rgba(255, 59, 0, .8) 3%, rgba(255, 171, 0, .8) 6%, rgba(0, 217, 32, .8) 9%, rgba(255, 239, 0, .8) 12%, rgba(17, 29, 236, .8) 15%, rgba(104, 0, 223, .8) 18%, rgba(255, 255, 255, .8) 21%);
    height: 600px;
    width: 100%;
}

.bg-signup {
    background: linear-gradient(90deg, rgba(255, 0, 0, .8) 0%, rgba(255, 59, 0, .8) 3%, rgba(255, 171, 0, .8) 6%, rgba(0, 217, 32, .8) 9%, rgba(255, 239, 0, .8) 12%, rgba(17, 29, 236, .8) 15%, rgba(104, 0, 223, .8) 18%, rgba(255, 255, 255, .8) 21%);
    height: 600px;
    width: 100%;
}
.bg-login {
    background: linear-gradient(to left, rgba(255,0,0,.8) 0%, rgba(255,59,0,.8) 3%, rgba(255,171,0,.8) 6%, rgba(0,217,32,.8) 9%, rgba(255,239,0,.8) 12%, rgba(17,29,236,.8) 15%, rgba(104,0,223,.8) 18%, rgba(255,255,255,.8) 21%);
    height: 600px;
    width: 100%;
}

form {
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 0px;
}

label {
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right: 15px;
    float: left;

}

input {
    height: 45px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 10px;
}


/* Custom CSS */
.card-img-top {
    width: 70px !important;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    
    text-align: center;
    font-weight: bolder;
}

.footer-brand{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}

.hero-banner {
    height: 400px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/prime-banner.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 2em;
}

.banner-text {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 4px;
    color: rgb(41, 41, 41);
    font-weight: 900;
}

.banner-text span:before{
    content: '';
    animation: animate 5s infinite;
}

@keyframes animate {
    0% {
        content: 'YOU';
        color: #dd0000;
    }
    10% {
        content: 'YOU';
        color: #ff3b3b;
    }
    40% {
        content: 'ME';
        color: #dd0000;
    }
    70% {
        content: 'US';
        color: #ff3b3b;
    }

    100% {
        content: 'ALL';
        color: #dd0000;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

/* .home-sec-1 {
    height: 60vh;
    background: linear-gradient(#f70000, #f89200, #f8f501, #038f00, #0168f8, #a200f7);
} */











.zoomIn {
    animation-name: zoomIn;
    animation-duration: 7s;
    animation-fill-mode: both;
    font-size: 20px;
    font-weight: bolder;
}


/* 
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
} */




/* Custom CSS */


/* Styling for contact.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
   background-color: green; 
   background-image: url('/static/images/contact.jpg');
   background-repeat: no-repeat;
   background-position: center;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    /* margin-top: 6rem!important; */
   
}
.formContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(white, #fafff8), url("image goes here"); */
    background-position: center;
    background-size: cover;
    font-weight: bolder;
    /* background-color: rgb(175, 33, 33); */
}

.formHeading {
    /* background-color: #000; */
    color: black;
    margin-bottom: 80px;
    margin-top: 50px;
    border-bottom: 3px solid black;
}

.teamRow h3{
    font-weight: bolder !important;
}


.Customform {
    width: 90%;
    max-width: 600px;

}

.input-groupCustom {
    margin-bottom: 30px;
    position: relative;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: #000;
    background: transparent;
    font-size: 15px;
}

button {
    padding: 10px 0;
    color: black;
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.customRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customRow .input-groupCustom {
    flex-basis: 48%;
}

/* Styling for contact.html */


.footer-sec {
    height: 10vh;
    padding: 25px 100px;

}

.footer_sec1 {
    text-align: left !important;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer-section{
    font-weight: bolder;
}

.big-text {
    font-size: 24px;
    font-weight: bolder;
}


.social-icons i {
    margin-left: 10px;
    margin-bottom: -20px;

}
/* blog & podcast styling */

.blog-banner {
    width: 100vw;
    height: 300px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/banner-img-blogs.png") no-repeat top center;
    background-size: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.podcast-banner {
    width: 100vw;
    height: 300px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/banner-bg-podcast.png") no-repeat center center;
    background-size: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.blog-heading,
.blog-intro,
.blog-submission-heading,
.blog-submission-intro {
    text-align: center;


}
.social-icons  {
    margin-bottom: -15px;
}
.bi-instagram:hover{
    color: red;
}
.bi-twitter:hover{
    color: #1DA1F2;
}
.bi-facebook:hover{
    color: #4267B2;
}

/* --------------------------------team page ------------------------ */

    .team-header {
            font-size: 36px;
            color: #333;
            font-weight: bold;
        }

        h3 {
            font-size: 24px;
            color: #555;
            font-weight: bold;
        }

        
        #team i {
            font-size: 26px;
            color: #555;
        }

        #team p {
            font-weight: 500;
        }

        #team .card {
            border-radius: 10px;
            box-shadow: 5px 5px 15px rgb(16, 15, 26);
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
         
        }

    
 #team .card:hover{
    /* background: conic-gradient(from 90deg, #390202, #53534dd3, #5e6cd8, #4e5e9e, #c16f62 ); */

    background-image: linear-gradient(180deg, #000 0 0%, #72501e 14.28571% 14.28571%, #ff0018 28.57143% 28.57143%, #ffa52c 42.85714% 42.85714%, #ffff41 57.14286% 57.14286%, #008018 71.42857% 71.42857%, #0000f9 85.71429% 85.71429%, #86007d 100% 100%);
 }

 

.blog-container {

    display: flex;
    width: 80vw;
    max-width: 1100px;
    margin: 3rem auto;
    gap: 1rem;
}

.filter-panel {
    width: 30%;
}

.filter-btn,
.upload-btn {
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.2rem;

    background-color: rgb(232, 232, 232);

}

.filter-btn:hover,
.upload-btn:hover {
    font-size: 1.3rem;
}

.filter-btn:active,
.upload-btn:active {
    box-shadow: 0px 0px 10px 3px #DAABFF;
}

.entries {
    width: 100%;
    border-left: solid 2px #DAABFF;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

input[type="checkbox"]:hover {
    box-shadow: 0px 0px 10px 3px #DAABFF;

}

.blog-label {
    position: static;
    float: none;
    text-align: left;
    height: auto;
    width: fit-content;
    margin: 0 0 10px 5px;
}

.entry-list {
    list-style: none;
}

.blog-entry {
    padding: 2em;
    margin-bottom: 2em;
    -webkit-box-shadow: 0 0 5px 2px rgb(179, 179, 179);
    -moz-box-shadow: 0 0 5px 2px rgb(179, 179, 179);
    box-shadow: 0 0 5px 2px rgb(179, 179, 179);
}

.blog-entry:hover {
    transform: scale(1.02);
    transition: ease-in-out;
}

.entry-link {
    text-decoration: none;
}


.author,
.title {
    color: #000;
    font-size: 1.3rem;
    line-height: 1;
}

.summary {
    color: #000;
}

.trigger-warnings {
    width: 100%;
    margin: 0 auto;
}

/* Podcast */


#record {
    background-color: red;
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;

}
#recordButton,
#pauseButton,
#stopButton {
    width: 70px;

    border-radius: 50%;
}


#record {
    background-color: red;
    /* Green */
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
}



h2 {
    left: 100px;
    position: relative;
}

#recordedAudio {
    left: 100px;
    right: 100px;
    position: relative;
}


/* blog page */
.blog-buttons .btn {
    margin: 5px;
    position: relative;
    float: left;
}

.post-title:hover {
    font-size: 110%;
}

.search-blog-container {
    float: right;
    margin: 15px;
}

#search-blog-btn {
    width: 32px;
    height: 30px;
    vertical-align: bottom;
    position: relative;
}

.search-blog-container form {
    position: relative;
}

.search-blog-container i {
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 1.1rem;
}


#datepicker {
    width: 180px;
    margin: 0 20px 20px 20px;
}

#datepicker>span:hover {
    cursor: pointer;
}

@media screen and (min-width: 300px) {
    .about-images {
        margin-bottom: 4em;
    }

    .bi-facebook:hover {
        color: #4267B2;
    }
}