.navbar {
    background-color: cadetblue;
}

.bg-pride {
    background: linear-gradient(90deg, #f00000, #f00000 16.67%, #ff8000 16.67%, #ff8000 33.33%, #ffff00 33.33%, #ffff00 50%, #007940 50%, #007940 66.67%, #4040ff 66.67%, #4040ff 83.33%, #a000c0 83.33%, #a000c0) fixed;
}

.hr-pride {
    height: 20px;
    width: 100%;
}

.hero-pride {
    background-image: url('/static/images/meet-pride.jpg');
    background-size: cover;
    height: 600px;
    width: 100%;
}

.bg-signup {
    background-image: url('/static/images/meet-pride.jpg');
    background-size: cover;
    height: 600px;
    width: 100%;
}

form {
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 0px;
}

label {
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right: 15px;
    float: left;
}

input {
    height: 45px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 10px;
}

/* blog styling */

.blog-heading,
.blog-intro {
    text-align: center;
    margin: 1em auto;
}

.blog-intro {
    max-width: 800px;
    padding: 0 2em;
}

.blog-container {
    display: flex;
    width: 80vw;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 3rem;
    gap: 1rem;
}

.filter-panel {
    width: 30%;
}

.entries {
    width: 100%;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.blog-label {
    float: none;
    text-align: left;
    height: auto;
    width: fit-content;
    margin: 0 0 10px 5px;
}

.entry-list {
    list-style: none;
}

.blog-entry {
    margin-bottom: 2em;
}

.entry-link {
    text-decoration: none;
}

.author,
.title {
    color: #000;
    font-size: 1.3rem;
    line-height: 1;
}

.summary {
    color: #000;
}

/* Podcast */

#record {
    background-color: red;
    /* Green */
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
}

#stopRecord {
    background-color: green;
    /* Green */
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
}

h2 {
    left: 100px;
    position: relative;
}

#recordedAudio {
    left: 100px;
    right: 100px;
    position: relative;
}