{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6 hero-pride">
            <h1 class="text-center my-3">About <span class="text-success pe-2">Pride</span> <span class="text-warning">Park</span></h1>
            <p>Pride Park is a pride matching website created to make a proud person meet other proud people based on their pride color.</p>
            <p>Pride Park believes that your color is your story. Your choice of color or colors is where it all begins.</p>
        </div>
    </div>
</div>
{% endblock content %}