{% extends 'base.html' %}

{% block content %}
<section class="container-fluid px-0">
    <h1 class="text-center my-3">About <span class="text-success pe-2">Pride</span> <span
            class="text-warning">Park</span></h1>
    <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
            <img src="static/images/about-img-1.jpg" alt="" class="img-fluid about-images">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 mb-5 mb-md-0">
                    <p class="lead">Everyone has a story to tell. Some of us want to share theirs, some want to witness other's. Whether you
                        feel the need to make your voice heard, get something of your chest or find out that there are other
                        people like you, this site wants to help you feel more connected with other members of the LGBTQ+
                        community anywhere.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 mb-5 mb-md-0">
                    <p class="lead">By writing or recording a little insight into your life and sharing it with others, you can offer
                        support, give advice or information or simply give someone a good laugh and make them relate.</p>
                      <p class="lead">Many of us may feel involuntarily isolated by their identity. Being able to take part in somebody else's
                        moments can show us that we are not alone in this and that we shouldn't be either.</p>
                      <br> 
                      <p class="lead">So explore the little gems people from all walks of life have left here. Have a listen or a read and
                        feel
                        more connected.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="static/images/about-img-2.jpg" alt="" class="img-fluid about-images">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
            <img src="static/images/about-img-3.jpg" alt="" class="img-fluid about-images">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 mb-5 mb-md-0">
                      <p class="lead">Or share what you think is worth sharing and please be considerate when doing so. Should you feel your
                        story may contain elements that could upset other people, make sure you include the <em>Trigger
                          Warning</em> flag in your entry's tag. For a list of trigger warnings see the <a href="blog.html">Blog page</a> or
                        <a href="podcast.html">Podcast page</a>. Use those according to
                        your best judgement (including subjects not covered by our list) and always be kind and respectful.</p>
                      <br>
                      <p class="lead">But most importantly - remember that you are <strong>valid</strong>!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}