{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 bg-pride"></div>
        <div class="col-md-8 bg-pride">
            <h1 class="text-danger text-center">Add Podcastt</h1>
            <button id="toggle-rec-btn" class="btn btn-danger">Record</button>
        </div>
        <div class="col-md-2 bg-pride"></div>
        <h1>{{session.user|title}}'s Profile </h1>
        <div class="col-md-12">

        </div>

    </div>

</div>

<!--Code from https://javascript.tutorialink.com/send-wav-file-from-js-to-flask/ -->
<script>
    (function() {
        const uploadURL = "{{ url_for('upload') }}";
        const startButton = document.getElementById("toggle-rec-btn");
        startButton.addEventListener("click", function() {
            if (!navigator.mediaDevices) {
                console.error("getUserMedia not supported.")
                return;
            }
            const constraints = {
                audio: true
            };
            navigator.mediaDevices.getUserMedia(constraints)
                .then(function(stream) {
                    let chunks = []
                    let recorder = new MediaRecorder(stream);
                    recorder.ondataavailable = event => {
                        // Collect all the chunks of the recording in an array.
                        chunks.push(event.data);
                    };
                    recorder.onstop = event => {
                        console.log("Recording stopped.")
                        // Create a blob with all the chunks of the recording.
                        let blob = new Blob(chunks, {
                            type: recorder.mimeType
                        });
                        chunks = [];
                        startButton.disabled = false;

                        // Create form data that contain the recording.
                        let formData = new FormData();
                        formData.append("audio_file", blob);

                        // Send the form data to the server.
                        fetch(uploadURL, {
                            method: "POST",
                            cache: "no-cache",
                            body: formData
                        }).then(resp => {
                            if (resp.status === 200) {
                                window.location.reload(true);
                            } else {
                                console.error("Error:", resp)
                            }
                        }).catch(err => {
                            console.error(err);
                        });
                    };
                    recorder.onstart = event => {
                        console.log("Recording started.");
                        startButton.disabled = true;
                        // Stop recording when the time is up.
                        setTimeout(function() {
                            recorder.stop();
                        }, 10000);
                    };
                    recorder.start();
                })
                .catch(function(err) {
                    console.error(err);
                });
        });
    })();
</script>
{% endblock content %}