{% extends "base.html" %}


{% block content %}
<div class="formContainer container">
    <div class="formHeading col-md-12 col-xs-12">
        <h1>Contact Us</h1>

    </div>
    <div class="col-md-12 col-xs-12">
        <p class="form-text-content">
            You want to reach out to us with ideas? Any feedback or you would like to contribute making
            Pride Park happen?

            <br>
            <br>
            Let us <span style="font-weight: bold">hear it!</span>
        </p>
    </div>
    <form class="customForm row" action="" style="width:100%">

        <div class="input-groupCustom col-md-6 col-xs-12">
            <input type="text" id="name" required>
            <label for="name"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Name</label>
        </div>
        <div class="input-groupCustom col-md-6 col-xs-12">
            <input type="number" id="number" required minlength="10" maxlength="12">
            <label for="number"><i class="fa-solid fa-phone-square-alt"></i>&nbsp;&nbsp;Phone No</label>
        </div>


        <div class="input-groupCustom col-md-12 col-xs-12">
            <input type="email" id="email" required>
            <label for="email"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Email ID</label>
        </div>
        <div class="input-groupCustom col-md-12 col-xs-12">
            <textarea id="message" rows="8" required></textarea>
            <label for="message" style="padding:0px"><i class="fa-solid fa-paper-plane"></i>&nbsp;&nbsp;Message</label>
        </div>

        <button type="submit" style="font-weight: bold;">SUBMIT&nbsp;&nbsp;<i
                class="fa-solid fa-paper-plane"></i></button>

    </form>
    <div class="row teamRow">
        <div class="col-md-12 col-xs-12">
            <section id="team">
                <div class="container-fluid my-5 py-5 text-center">
                    <div class="row mb-5">
                        <div class="col">
                            <h1 class="team-header">Meet Our Team</h1>
                            <p class="my-3 team-subheader">
                                This team page has a quirky, vibrant energy that immediately catches your attention
                                – a Fab Team.
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-6 col-lg-2 spt-1">
                            <div class="card h-100 m-1 shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-social-media-user-vector-portrait-unknown-human-image-default-avatar-profile-flat-icon-184330869.jpg"
                                        alt="alissa">

                                    <h3>Andrew</h3>
                                    <p> I'm a hard worker with a lot of attention for detail and I am always eager
                                        to learn and
                                        improve my skills.</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/KeepKindling">
                                                <i class="fab fa-github fa-xl"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/andrew-curley-798483235/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-1">
                            <div class="card h-100 m-1 shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-social-media-user-vector-portrait-unknown-human-image-default-avatar-profile-flat-icon-184330869.jpg"
                                        alt="sandra">
                                    <h3 class="team-subheader">Sandra</h3>
                                    <p>Results driven Full Stack dev ,passionate about building production ready web
                                        applications.
                                    </p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/Atinos31">
                                                <i class="fab fa-github fa-xl hvr-pulse"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/sandra-atino/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-1">
                            <div class="card h-100 m-1  shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-social-media-user-vector-portrait-unknown-human-image-default-avatar-profile-flat-icon-184330869.jpg"
                                        alt="alissa">
                                    <h3 class="team-subheader">Alissa</h3>
                                    <p>I'm passionate about developing robust, Full-stack applications that solve
                                        business needs.
                                    </p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/alissatroiano">
                                                <i class="fab fa-github fa-xl"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/alissatroiano/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-1">
                            <div class="card h-100 m-1 shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-social-media-user-vector-portrait-unknown-human-image-default-avatar-profile-flat-icon-184330869.jpg"
                                        alt="oliver">
                                    <h3 class="team-subheader">Oliver</h3>
                                    <p>A logical & organised Full Stack developer,passionate about building
                                        innovative applications
                                    </p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/OliverCadman">
                                                <i class="fab fa-github fa-xl"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/oliver-cadman-23663b36/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-1">
                            <div class="card h-100 m-1  shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-social-media-user-vector-portrait-unknown-human-image-default-avatar-profile-flat-icon-184330869.jpg"
                                        alt="Daniel">
                                    <h3 class="team-subheader">Daniel</h3>
                                    <p>I'm a hard worker with a lot of attention to detail & I'm always eager to
                                        learn and improve
                                        my skills.</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/Danpr1984">
                                                <i class="fab fa-github fa-xl"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/daniel-porras-january1984/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock content %}