{% extends "base.html" %}


{% block content %}
<!-- team section -->

<section class="team">
    <div class="row" id="team">
        <div class="col-md-12 col-xs-12">
                <div class="container-fluid my-5 py-5 text-center">
                    <div class="row mb-5">
                        <div class="col">
                            <h1 class="team-header">Our amazing team</h1>
                            <p class="my-3 team-subheader">
                                This team page has a quirky, vibrant energy that immediately catches your attention
                                – a Fab Team.
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-6 col-lg-2 spt-1">
                            <div class="card h-100 m-1 shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://avatars.githubusercontent.com/u/33879342?v=4"
                                        alt="Amare">

                                    <h3>Amare</h3>
                                    <p>
                                        I'm passionate about developing robust, Full-stack applications that solve
                                        business needs.</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/Amareteklay">
                                                <i class="fab fa-github fa-xl"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/amareteklay/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-1">
                            <div class="card h-100 m-1 shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://ca.slack-edge.com/T0L30B202-U01E5UCN58C-21b23b8206a9-512"
                                        alt="sandra">
                                    <h3 class="team-subheader">Sandra</h3>
                                    <p>Results driven Full Stack dev ,passionate about building production ready web
                                        applications.
                                    </p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/Atinos31">
                                                <i class="fab fa-github fa-xl hvr-pulse"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/sandra-atino/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-1">
                            <div class="card h-100 m-1  shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://avatars.githubusercontent.com/u/74541092?v=4"
                                        alt="kay">
                                    <h3 class="team-subheader">Kay</h3>
                                    <p> I'm a hard worker with a lot of attention for detail and I am always eager
                                        to learn and
                                        improve my skills.
                                    </p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/Kathrin-ddggxh">
                                                <i class="fab fa-github fa-xl"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/kathrin-welfare-7815b4219/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-1">
                            <div class="card h-100 m-1 shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://ca.slack-edge.com/T0L30B202-U01EDM6DG4A-4103d30264ca-512"
                                        alt="fran">
                                    <h3 class="team-subheader">Fran</h3>
                                    <p>A logical & organised Full Stack developer,passionate about building
                                        innovative applications
                                    </p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/Francisca-Heii">
                                                <i class="fab fa-github fa-xl"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/francisca-heii/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-1">
                            <div class="card h-100 m-1  shadow-lg border-0">
                                <div class="card-body">
                                    <img class="img-fluid rounded-pill w-75 mb-3"
                                        src="https://avatars.githubusercontent.com/u/77218306?v=4"
                                        alt="mika">
                                    <h3 class="team-subheader">Mika</h3>
                                    <p>I'm an aspiring full stack developer with strong front end skills with a strong passion for coding
                                        </p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="https://github.com/mika-sims">
                                                <i class="fab fa-github fa-xl"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="https://www.linkedin.com/in/mikail-simsek/">
                                                <i class="fab fa-linkedin fa-xl"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
   <hr>
   <!--  contact section-->
<section class="contact-section">
<div class="contact mb-5 py-3">
<div class="formContainer container bg-white mt-5 rounded">
    <div class="formHeading col-md-8 col-xs-8">
        <h1 class="text-center mb-3">Contact Us</h1>
        <hr>

    <div class="col-md-12 col-xs-12">
        <p class="form-text-content">
            You want to reach out to us with ideas? Any feedback or you would like to contribute making
            Pride Park happen?

            <br>
            <br>
            Let us <span style="font-weight: bold">hear it!</span>
        </p>
    </div>
    <form class="customForm row" action="" style="width:100%">

        <div class="input-groupCustom col-md-6 col-xs-12">
            <input type="text" id="name" required>
            <label for="name"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Name</label>
        </div>
        <div class="input-groupCustom col-md-6 col-xs-12">
            <input type="number" id="number" required minlength="10" maxlength="12">
            <label for="number"><i class="fa-solid fa-phone-square-alt"></i>&nbsp;&nbsp;Phone No</label>
        </div>


        <div class="input-groupCustom col-md-12 col-xs-12">
            <input type="email" id="email" required>
            <label for="email"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Email ID</label>
        </div>
        <div class="input-groupCustom col-md-12 col-xs-12">
            <textarea id="message" rows="8" required></textarea>
            <label for="message" style="padding:0px"><i class="fa-solid fa-paper-plane"></i>&nbsp;&nbsp;Message</label>
        </div>

        <button type="submit" style="font-weight: bold;">SUBMIT&nbsp;&nbsp;<i
                class="fa-solid fa-paper-plane"></i></button>

    </form>
    </div>
</section>


{% endblock content %}