{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align header">Edit blog</h3>
<div class="row ">
    <form class="col s12" method="POST" action="{{url_for('edit_post',post_id=post._id)}}">
        <!-- blog category selection-->
        <div class="row">
            <div class="input-field col">
             <i class="fas fa-archive"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose category</option>
                    {% for category in categories %}
                        {% if category.category_name == post.category_name %}
                            <option value="{{ category.category_name}}" selected>{{ category.category_name}}</option>
                        {% else %}
                        <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Post Catergory</label>
            </div>
        </div>
        <!-- post title-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen-fancy"></i>
                <input id="title" type="text" name="title" value="{{ post.title }}" minlength="5" maxlength="100" class="validate" required>
                <label for="title">Post Title</label>
            </div>
        </div>
        <!-- post content -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="content" name="content" minlength="5" maxlength="2000"
                    class="materialize-textarea ckeditor" data-length="2000" required>{{- post.content -}}</textarea>
                <label for="content">Post Content</label>
            </div>
        </div>
       <!-- add image upload <div>
         <form action="/" method="post" enctype="multipart/form-data">
           <input type="file" name="photos">
        </div> -->
        <!-- date created picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix light-blue-text text-darken-4"></i>
                <input id="read_time" type="text" name="read_time" value="{{ post.read_time }}" minlength="5" maxlength="50"
                    class="timepicker validate" required>
                <label for="read_time">Read Time</label>
            </div>
        </div>
        <!-- date created picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt"></i>
                <input id="published_date" type="text" name="published_date" value="{{ post.published_date }}" minlength="5" maxlength="60"
                    class="datepicker validate" required>
                <label for="published_date"> Publish Date</label>
            </div>
        </div>
        <!-- date created picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-hashtag"></i>
                <input id="tags" type="text" name="tags" minlength="5" maxlength="50" value="{{ post.hashtag }}"
                    class="validate" required>
                <label for="tags"> Hashtags</label>
            </div>
        </div>
        <!--  cta buttons-->
        <div class="row">
            <div class="col s12 center-align">
                <!-- cancel edit_blog button -->
                <a href="{{ url_for('posts') }}" class="btn-large red text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <!-- submit edit_blog button-->
                <button class="btn-large waves-effect waves-light text-shadow" type="submit" name="">Edit Post
                    <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

