{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-light justify-content-center align-items-center d-flex hero-banner">
            <h1 class="banner-text">
                Safer space for <span></span>
            </h1>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
            <div class="card d-flex justify-content-center align-items-center"
                style="width: 18rem; border: none !important">
                <a href="/blog" style="text-decoration: none; color:inherit"> <i class="fa fa-rss fa-4x"
                        aria-hidden="true"></i> </a>
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold">Blog</h5>
                    <p class="card-text">Checkout our blogs here..✨</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
            <div class="card d-flex justify-content-center align-items-center"
                style="width: 18rem; border: none !important;">
                <div class="d-flex justify-content-center align-items center">
                    <a href="/podcast" style="text-decoration: none; color:inherit"> <i class="fa fa-podcast fa-4x"
                            aria-hidden="true"></i> </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold ;">Podcast</h5>
                    <p class="card-text">Checkout our podcast here..🎉</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Displays flash messages to the user -->
    <div class="messages text-center">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}

        <div class="fs-4 text-success">{{ message }}</div>
        {% endfor %}
        {% endwith %}
    </div>
</div>
{% endblock content %}