{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 bg-pride"></div>
        <div class="col-md-8 bg-pride">
            <h1 class="text-danger text-center"><span class="text-success pe-2">Pride</span> <span class="text-warning">Park</span></h1>
            <a href="{{ url_for('signup') }}">Signup</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <div class="col-md-2 bg-pride"></div>
        <div class="col-md-12">

        </div>

    </div>

</div>
{% endblock content %}