{% extends 'base.html' %}


{% block content %}

<!-- banner image still to be included at the top -->
<h2 class="blog-heading text-center">Spoken Word</h2>
<div class="text-center py-4">
    <a class="btn btn-success" href="{{ url_for('record') }}"><i class="fa fa-podcast fa-3x" aria-hidden="true"></i><br> Create podcast</a>
</div>

<div class="blog-container">
    <!-- Search side panel with filter options -->
    <form class="filter-panel">
        <input type="checkbox" id="gay" name="gay" value="Gay" />
        <label for="gay" class="blog-label">Gay</label><br />

        <input type="checkbox" id="lesbian" name="lesbian" value="Lesbian" />
        <label for="lesbian" class="blog-label">Lesbian</label><br />

        <input type="checkbox" id="trans" name="trans" value="Trans" />
        <label for="trans" class="blog-label">Trans-gender</label><br />

        <input type="checkbox" id="bi" name="bi" value="Bi" />
        <label for="bi" class="blog-label">Bi</label><br />

        <input type="checkbox" id="asex" name="asex" value="asex" />
        <label for="asex" class="blog-label">Asexual</label><br />

        <input type="checkbox" id="nb" name="nb" value="NB" />
        <label for="nb" class="blog-label">Non-binary</label><br />

        <input type="checkbox" id="safe" name="safe" value="safe" />
        <label for="safe" class="blog-label">Safe Country</label><br />

        <input type="checkbox" id="unsafe" name="unsafe" value="Unsafe" />
        <label for="unsafe" class="blog-label">Unsafe Country</label><br />

        <input type="checkbox" id="other" name="other" value="Other" />
        <label for="other" class="blog-label">Other</label><br />

        <input type="checkbox" id="trigger" name="trigger" value="Trigger" />
        <label for="trigger" class="blog-label">Trigger Warning</label><br />

        <input type="submit" value="Filter results" class="filter-btn">
    </form>
    <!-- list of blog entries with links -->
    <section class="entries">
        <h2 class="blog-heading">Spoken Word</h2>
        <p class="blog-intro">Hear the voices of fellow LGBTQ+ members as they share small parts of their lives in these short
            recordings. Sometimes it's
            good to hear you are not the only one. </p>
        <ul class="entry-list">
            {% for pod in podcast %}
            <li class="blog-entry">
                <a href="#" class="entry-link">
                    <p class="author" id="author">Example Person</p>
                    <p class="title" id="title">My example anecdote</p>
                    <audio controls="audiocontrols" src="{{pod.url}}"></audio>
                    <p class="summary" id="summary">This is a summary of the recording ... Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Quod suscipit architecto.</p>
                </a>
            </li>
            {% endfor %}
            <li class="blog-entry">
                <a href="#" class="entry-link">
                    <p class="author" id="author">Example Person</p>
                    <p class="title" id="title">My example anecdote</p>
                    <p class="summary" id="summary">This is a summary of the recording ... Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Quod suscipit architecto.</p>
                </a>
            </li>
            <li class="blog-entry">
                <a href="#" class="entry-link">
                    <p class="author" id="author">Example Person</p>
                    <p class="title" id="title">My example anecdote</p>
                    <p class="summary" id="summary">This is a summary of the recording ... Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Quod suscipit architecto.</p>
                </a>
            </li>
            <li class="blog-entry">
                <a href="#" class="entry-link">
                    <p class="author" id="author">Example Person</p>
                    <p class="title" id="title">My example anecdote</p>
                    <p class="summary" id="summary">This is a summary of the recording ... Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Quod suscipit architecto.</p>
                </a>
            </li>
            <li class="blog-entry">
                <a href="#" class="entry-link">
                    <p class="author" id="author">Example Person</p>
                    <p class="title" id="title">My example anecdote</p>
                    <p class="summary" id="summary">This is a summary of the recording ... Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Quod suscipit architecto.</p>
                </a>
            </li>
            <li class="blog-entry">
                <a href="#" class="entry-link">
                    <p class="author" id="author">Example Person</p>
                    <p class="title" id="title">My example anecdote</p>
                    <p class="summary" id="summary">This is a summary of the recording ... Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Quod suscipit architecto.</p>
                </a>
            </li>
        </ul>
    </section>
</div>
<section class="blog-submission">
    <h3 class="blog-submission-heading">Share your Story!</h3>
    <p class="blog-submission-intro">Get out the recording device of your choice and hit the mic. Your story is worth
        sharing. <br>
        Keep it short and snappy with 10 minutes. However, nothing is stopping you from submitting more than one story.
        You can simply upload your file below. <br>
        Make sure you tag your story with the appropriate labels to make it easy for others to find the story that's
        right for them. <br>
    </p>
    <div class="trigger-warnings">
        <p class="tw-intro">
            Please refer to our list of to our list of trigger warnings below and make sure you tag your entry in case
            it
            contains any of the following:
        </p>
        <ul class="tw-list">
            <li class="tw-list-item">Abusive language</li>
            <li class="tw-list-item">Depression</li>
            <li class="tw-list-item">Suicide</li>
            <li class="tw-list-item">Dysphoria</li>
            <li class="tw-list-item">Mental illness</li>
            <li class="tw-list-item">Mention of violence</li>
            <li class="tw-list-item">Mention of verbal or physical abuse</li>
        </ul>
    </div>
    <form action="#">
        <input type="file" id="myFile" name="filename">
        <input type="submit" class="upload-btn">
    </form>
</section>
{% endblock content %}