{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 bg-pride"></div>
        <div class="col-md-8 bg-pride">
            <h1 class="text-danger text-center"><span class="text-success pe-2">Pride</span> <span class="text-warning">Park</span></h1>
        </div>
        <div class="col-md-2 bg-pride"></div>
        <h1>{{session.user|title}}'s Profile </h1>
        <audio controls autoplay>
            <source src="{url_for('episode', episodename='pod1')}" type="audio/wav">
        </audio>
        <audio controls="audiocontrols" autoplay="autoplay" src="{{pod}}"></audio>

        <div class="col-md-12">

        </div>

    </div>

</div>
{% endblock content %}