{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-4">
            <div class="text-center shadow py-5">
                <h1 class="text-center">Create your own podcast</h1>
                <strong class="text-center">Start recording</strong>
                <div id="controls" class="mt-3">
                    <button id="recordButton" class="btn btn-danger"><i class="fas fa-microphone"></i>Record</button>
                    <button id="pauseButton" class="btn btn-info" disabled>Pause</button>
                    <button id="stopButton" class="btn btn-secondary" disabled>Stop</button>
                </div>
                <div id="formats"></div>
                <p class="py-3"><strong>Recordings:</strong></p>
                <ol id="recordingsList"></ol>
            </div>
        </div>
    </div>
</div>
<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/static/js/app.js"></script>
{% endblock content %}